@layer base {
  :root {
    --space: 8px;
    --front-bg: #fffcf6;
    --front-primary: #FF6187;
    --front-secondary: #303028;
    --front-tertiary: #F6B89B;
    --front-red: #c54011;
    --front-black: #2E2C33;
    --container: 92%;
    --container-sm: var(--container);

    --primary: #E8A499;
    --primary-focus: #e09285;
    --primary-content: #ffffff;

    --secondary: #f9d1d1;
    --secondary-focus: #f7c2c2;
    --secondary-content: #333333;

    --accent: #d1e8e2;
    --accent-focus: #bde0d9;
    --accent-content: #333333;

    --neutral: #3d4451;
    --neutral-focus: #303640;
    --neutral-content: #ffffff;

    --base-100: #ffffff;
    --base-200: #f9fafb;
    --base-300: #f3f4f6;
    --base-content: #1f2937;

    --rounded-box: 1rem;
    --rounded-btn: 0.5rem;
    --rounded-badge: 1.9rem;
    --rounded-full: 9999px;
    
    --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

    @media (min-width: 768px) {
      --container: 90%;
    }
    @media (min-width: 992px) {
      --container: 90vw;
    }
    @media (min-width: 1300px) {
      --container-sm: 75vw;
    }
    @media (min-width: 1800px) {
      --container: 1640px;
      --container-sm: 1364px;
    }
  }
}

@layer utilities {
  .bg-primary {
    background-color: var(--primary);
  }
  
  .bg-primary-focus {
    background-color: var(--primary-focus);
  }
  
  .bg-secondary {
    background-color: var(--secondary);
  }
  
  .bg-secondary-focus {
    background-color: var(--secondary-focus);
  }
  
  .bg-accent {
    background-color: var(--accent);
  }
  
  .bg-accent-focus {
    background-color: var(--accent-focus);
  }
  
  .bg-neutral {
    background-color: var(--neutral);
  }
  
  .bg-neutral-focus {
    background-color: var(--neutral-focus);
  }
  
  .bg-base-100 {
    background-color: var(--base-100);
  }
  
  .bg-base-200 {
    background-color: var(--base-200);
  }
  
  .bg-base-300 {
    background-color: var(--base-300);
  }
  
  .text-primary {
    color: var(--primary);
  }
  
  .text-primary-content {
    color: var(--primary-content);
  }
  
  .text-secondary {
    color: var(--secondary);
  }
  
  .text-secondary-content {
    color: var(--secondary-content);
  }
  
  .text-accent {
    color: var(--accent);
  }
  
  .text-accent-content {
    color: var(--accent-content);
  }
  
  .text-neutral {
    color: var(--neutral);
  }
  
  .text-neutral-content {
    color: var(--neutral-content);
  }
  
  .text-base-content {
    color: var(--base-content);
  }
  
  .border-primary {
    border-color: var(--primary);
  }
  
  .border-secondary {
    border-color: var(--secondary);
  }
  
  .border-accent {
    border-color: var(--accent);
  }
  
  .border-neutral {
    border-color: var(--neutral);
  }
  
  .border-base-300 {
    border-color: var(--base-300);
  }
}
